<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="LED_Banden_Demo.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.diagnostics>
        <sources>
            <!-- Dieser Abschnitt definiert die Protokollierungskonfiguration für My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Auskommentierung des nachfolgenden Abschnitts aufheben, um in das Anwendungsereignisprotokoll zu schreiben -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information" />
        </switches>
        <sharedListeners>
            <add name="FileLog"
                 type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL"
                 initializeData="FileLogWriter"/>
            <!-- Auskommentierung des nachfolgenden Abschnitts aufheben und APPLICATION_NAME durch den Namen der Anwendung ersetzen, um in das Anwendungsereignisprotokoll zu schreiben -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
    <userSettings>
        <LED_Banden_Demo.My.MySettings>
            <setting name="Bande1Top" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Bande1Left" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Bande2Top" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="Bande2Left" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Bande3Top" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="Bande3Left" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Bande4Top" serializeAs="String">
                <value>300</value>
            </setting>
            <setting name="Bande4Left" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Bande5Top" serializeAs="String">
                <value>400</value>
            </setting>
            <setting name="Bande5Left" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="videoPfad" serializeAs="String">
                <value />
            </setting>
            <setting name="Bande1Width" serializeAs="String">
                <value>768</value>
            </setting>
            <setting name="Bande1Height" serializeAs="String">
                <value>72</value>
            </setting>
            <setting name="Bande2Width" serializeAs="String">
                <value>768</value>
            </setting>
            <setting name="Bande2Height" serializeAs="String">
                <value>72</value>
            </setting>
            <setting name="Bande3Width" serializeAs="String">
                <value>768</value>
            </setting>
            <setting name="Bande3Height" serializeAs="String">
                <value>72</value>
            </setting>
            <setting name="Bande4Width" serializeAs="String">
                <value>768</value>
            </setting>
            <setting name="Bande4Height" serializeAs="String">
                <value>72</value>
            </setting>
            <setting name="Bande5Width" serializeAs="String">
                <value>768</value>
            </setting>
            <setting name="Bande5Height" serializeAs="String">
                <value>72</value>
            </setting>
        </LED_Banden_Demo.My.MySettings>
    </userSettings>
</configuration>
